* {
    background-color: slategray;
}

div {
    color: white;
}

p {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    max-width: 600px;
    max-height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}